@import "tailwindcss";

@theme inline {
   --color-LIGHT: whitesmoke;
   --color-DARK: black;
   --color-GREY: #222;
}

html,
body,
#root {
   height: 100%;
}

body {
   @apply bg-GREY text-LIGHT;
   margin: 0;
   overflow: hidden;
}

button {
   @apply bg-LIGHT  shadow-2xl  py-0.5 text-DARK p-2 cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
}
